WEB3_PROVIDER=YOUR_WEB3_PROVIDER
QUEST_CONTRACT_ADDRESS=YOUR_QUEST_CONTRACT_ADDRESS
NFT_DIRECTORY_ADDRESS=YOUR_NFT_DIRECTORY_ADDRESS
OWNER_ADDRESS=YOUR_OWNER_WALLET_ADDRESS
PRIVATE_KEY=YOUR_PRIVATE_KEY
